gitpush.sh
updater.jar
gitpush.vbs
read.py
createHtml.py
commit.py
autoupdater.sh
__pycache__/
csv/
.bashrc
.gitconfig
.profile
.pythonstartup.py
.vimrc
.cache/
.local/
.virtualenvs/
.ssh/
.ipython
README.txt